# NOTE: This file is auto generated by OpenAPI Generator 6.6.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule ProcoreV1API.Api.AuthenticationUtilitiesMPZ do
  @moduledoc """
  API calls for all endpoints tagged `AuthenticationUtilitiesMPZ`.
  """

  alias ProcoreV1API.Connection
  import ProcoreV1API.RequestBuilder

  @doc """
  Check Company Zone
  Get a response indicating zone routing and web url for zone

  ### Parameters

  - `connection` (ProcoreV1API.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ProcoreV1API.Model.RestV10CompanyBaseUrlGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_company_base_url_get(Tesla.Env.client, integer(), keyword()) :: {:ok, ProcoreV1API.Model.RestV10CompanyBaseUrlGet200Response.t} | {:ok, ProcoreV1API.Model.RestV10CompanyBaseUrlGet400Response.t} | {:error, Tesla.Env.t}
  def rest_v10_company_base_url_get(connection, procore_company_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/company_base_url")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ProcoreV1API.Model.RestV10CompanyBaseUrlGet200Response{}},
      {400, %ProcoreV1API.Model.RestV10CompanyBaseUrlGet400Response{}}
    ])
  end
end
