# NOTE: This file is auto generated by OpenAPI Generator 6.6.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule ProcoreV1API.Api.CorePermissionsPermissions do
  @moduledoc """
  API calls for all endpoints tagged `CorePermissionsPermissions`.
  """

  alias ProcoreV1API.Connection
  import ProcoreV1API.RequestBuilder

  @doc """
  Show permission manifest
  Company or project permission manifest for the current user

  ### Parameters

  - `connection` (ProcoreV1API.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `company_id` (integer()): Provide for company level permissions
  - `opts` (keyword): Optional parameters
    - `:project_id` (integer()): Provide for project level permissions
    - `:filter_correspondence_types` (boolean()): Filter out Correspondence Types from permissions.

  ### Returns

  - `{:ok, ProcoreV1API.Model.RestV10SettingsPermissionsGet200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_settings_permissions_get(Tesla.Env.client, integer(), integer(), keyword()) :: {:ok, ProcoreV1API.Model.RestV10SettingsPermissionsGet400Response.t} | {:ok, ProcoreV1API.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t} | {:ok, ProcoreV1API.Model.RestV10SettingsPermissionsGet200Response.t} | {:error, Tesla.Env.t}
  def rest_v10_settings_permissions_get(connection, procore_company_id, company_id, opts \\ []) do
    optional_params = %{
      :project_id => :query,
      :filter_correspondence_types => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/settings/permissions")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :company_id, company_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ProcoreV1API.Model.RestV10SettingsPermissionsGet200Response{}},
      {400, %ProcoreV1API.Model.RestV10SettingsPermissionsGet400Response{}},
      {401, %ProcoreV1API.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response{}}
    ])
  end
end
