# NOTE: This file is auto generated by OpenAPI Generator 6.6.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule ProcoreV1API.Api.QualitySafetyInspectionsPotentialPointsOfContact do
  @moduledoc """
  API calls for all endpoints tagged `QualitySafetyInspectionsPotentialPointsOfContact`.
  """

  alias ProcoreV1API.Connection
  import ProcoreV1API.RequestBuilder

  @doc """
  List Potential Points of Contact
  Lists Potential Points of Contact in a specified Project.

  ### Parameters

  - `connection` (ProcoreV1API.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `project_id` (integer()): Unique identifier for the project.
  - `opts` (keyword): Optional parameters
    - `:vendor_id` (integer()): Vendor ID

  ### Returns

  - `{:ok, [%ChecklistPotentialPointOfContact{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_checklist_potential_points_of_contact_get(Tesla.Env.client, integer(), integer(), keyword()) :: {:ok, ProcoreV1API.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t} | {:ok, list(ProcoreV1API.Model.ChecklistPotentialPointOfContact.t)} | {:error, Tesla.Env.t}
  def rest_v10_checklist_potential_points_of_contact_get(connection, procore_company_id, project_id, opts \\ []) do
    optional_params = %{
      :vendor_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/rest/v1.0/checklist/potential_points_of_contact")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:query, :project_id, project_id)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, [%ProcoreV1API.Model.ChecklistPotentialPointOfContact{}]},
      {401, %ProcoreV1API.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response{}},
      {403, %ProcoreV1API.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response{}},
      {:default, %ProcoreV1API.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response{}}
    ])
  end
end
