# NOTE: This file is auto generated by OpenAPI Generator 6.6.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule ProcoreRestV1APIDocumentation.Api.ProjectManagementModelsNestedBIMViewFolderBatch do
  @moduledoc """
  API calls for all endpoints tagged `ProjectManagementModelsNestedBIMViewFolderBatch`.
  """

  alias ProcoreRestV1APIDocumentation.Connection
  import ProcoreRestV1APIDocumentation.RequestBuilder

  @doc """
  Create a batch of BIM View Folder by path
  Creates a batch of nested BIM folders as per path provided. If the folder corresponding to a path exists, the folder at the lowest level is returned.

  ### Parameters

  - `connection` (ProcoreRestV1APIDocumentation.Connection): Connection to server
  - `procore_company_id` (integer()): Unique company identifier associated with the Procore User Account.
  - `body54` (Body54): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, ProcoreRestV1APIDocumentation.Model.NestedBimViewFolderBatchCreateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec rest_v10_nested_bim_view_folders_batch_post(Tesla.Env.client, integer(), ProcoreRestV1APIDocumentation.Model.Body54.t, keyword()) :: {:ok, ProcoreRestV1APIDocumentation.Model.NestedBimViewFolderBatchCreateResponse.t} | {:ok, ProcoreRestV1APIDocumentation.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response.t} | {:error, Tesla.Env.t}
  def rest_v10_nested_bim_view_folders_batch_post(connection, procore_company_id, body54, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/rest/v1.0/nested_bim_view_folders/batch")
      |> add_param(:headers, :"Procore-Company-Id", procore_company_id)
      |> add_param(:body, :body, body54)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %ProcoreRestV1APIDocumentation.Model.NestedBimViewFolderBatchCreateResponse{}},
      {400, %ProcoreRestV1APIDocumentation.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response{}},
      {401, %ProcoreRestV1APIDocumentation.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response{}},
      {403, %ProcoreRestV1APIDocumentation.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response{}},
      {:default, %ProcoreRestV1APIDocumentation.Model.RestV10CompaniesCompanyIdWorkflowPermanentLogsGet401Response{}}
    ])
  end
end
